<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Cadastro</h1>
</div>

<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" [ngModel]="cliente.id" name="id" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Data de Cadastro:</label>
          <input type="text" class="form-control" [ngModel]="cliente.dataCadastro"
          name="dataCadastro" disabled>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome:*</label>
          <input type="text" class="form-control" [(ngModel)]="postApi.title" name="nome">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>CPF:*</label>
          <input type="text" class="form-control"  [(ngModel)]="postApi.body" name="cpf">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
        <button type="button" class="btn btn-warning ml-1" (click)="voltar()"><i class="fa fa-reply"></i> Voltar</button>
      </div>
    </div>
  </form>
</div>
