 <!-- Page Heading -->

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Clientes
        <button type="submit" class="btn btn-success float-right" (click)="abrirForm()"><i class="fa fa-plus"></i> Novo</button></h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th>CPF</th>
                      <th>Data Cadastro</th>
                      <th>Ações</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let usuario of usuarios">
                      <td>#{{ usuario.id }}</td>
                      <td>{{ usuario.name }}</td>
                      <td>{{ usuario.username }}</td>
                      <td>{{ usuario.email }}</td>
                      <td>
                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</button>
                        <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

